/* basic content */
.display-flex{
    display: flex;
}
.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-flex-justify{
    display: flex;
    justify-content: center;
}
.display-flex-align{
    display: flex;
    align-items: center;
}
.header-position{
    height: 60px;
    width: 1235px;
    background-color:#fff;
    position: fixed;
    z-index: 1000;
    margin-top: 15px;
    border-radius: 20px;
}
.clear{
    clear: both;
}
/* and basic content */
/* header */
.body-style{
    display: flex;
    justify-content: center;
    /* background-color: black; */
}
.li-style{
    margin-right: 70px;
    font-size: 15px;
    font-family: 'Epilogue';
}
.li-style a {
    color: rgba(56, 102, 65, 1);
    font-family: 'Epilogue';
}
.container{
    background-color:#fff;
    width: 1500px;
    height: 2500px;
    border-radius: 20px;
    margin-top: 10px;
}
.header-button{
    height: 30px;
    width: 125px;
    margin-right: 30px;
    border-radius: 20.03px;
    background-color: rgba(56, 102, 65, 1);
    color: #fff;
    border: 0px solid #fff
}
.button-a{
    color: #fff;
    font-family: 'Epilogue';
}
.ul-style{
    margin-left: 455px;
}
.header-name{
    font-size: 25px;
font-family: 'Playfair Display';
font-style: italic;
color: #000000;
margin-left: 5px;
}
.header-img{
    width: 40px;
    
}
/* and header */
/* body */
.container-1{
    width: 1500px;
    /* height: 750px; */
    background-color: #000000;
    display: flex;
    justify-items:flex-end;
    margin-top: 120px;
    position: relative;
}
.left-content{
    height: 400px;
    width: 590px;
    background-color: #fff;
    margin-left: 132px;
    margin-top: 35px;
}
.title-1{
    height: 120px;
    width: 426px;
}
.title-content{
    font-size: 47px;
    font-family: 'Playfair Display';
    font-style: italic;
    text-transform: capitalize;
    line-height:60px;
    color: rgba(106, 153, 78, 1);
}
.paragraf-1{
    width: 405px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.paragraf-content{
    font-family: 'Epilogue';
    color: rgba(105, 105, 105, 1);
    line-height: 25px;
}
.reserve{
    height: 40px;
    width: 125px;
    margin-right: 30px;
    border-radius: 20.03px;
    background-color: rgba(56, 102, 65, 1);
    border: 0px solid #fff
}
.right-content{
    width: 768px;
    height: 600px;
    background-color:rgba(106, 153, 78, 1);
    margin-left: 10px;
    border-radius: 6.41px;
    padding: 5px;
    
}
.inside{
    width: 758px;
    height:590px;
    background-color: #fff;
    border-radius:6.41px;
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;

}
.bg-image{
    width:820px;
    height:565px;;
    margin-right: 20px;
    position: absolute;
    left: -50px;
}
/* box wrapper */
.box{
    width: 700px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 500px;
    left: 400px;

}
